
#presentation {
  width: 100%;
}

#presentation span {
  display: block;
  margin-top: 5vh;
  text-transform: uppercase;
  font-family: "Molitor", sans-serif;
  font-size: 3vw;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
}

#presentation .text-container {
  --right-part-size: 40vw;
  width: 100%;
  display: flex;
}

#presentation .text-container #left-part {
  --padding-side-value: 5vw;
  width: calc(100% - var(--right-part-size) - var(--padding-side-value));
  padding: 1.6vh var(--padding-side-value);
  text-align: justify;
  font-family: 'ATNameSansText', sans-serif;
  font-size: 1.3vw;
  line-height: 1.4;
}

#presentation .text-container #left-part #trad-button-zone {
  margin: 3vw auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#presentation .text-container #left-part #trad-button-zone div {
  --button-size: 5vw;
  width: var(--button-size);
  height: var(--button-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--second-color) 5px solid;
  border-radius: 999px;
  color: var(--second-color);
  font-weight: bold;
  user-select: none;
}

#presentation .text-container #left-part #trad-button-zone div:nth-child(2) {
  margin-left: 3vw;
}

#presentation .text-container #left-part #trad-button-zone div.active {
  animation: activeTranslateButton 0.7s forwards ease-out;
}

@keyframes activeTranslateButton {
  from {
    background-color: white;
    color: var(--second-color);
  }
  to {
    background-color: var(--second-color);
    color: white;
  }
}

#presentation .text-container #right-part {
  width: var(--right-part-size);
  height: var(--right-part-size);
}

#presentation .text-container #right-part img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/**
 *  MEDIA QUERIES
 */

@media screen and (max-width: 1200px) {
  #presentation .text-container #left-part {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 900px) {
  #presentation span {
    font-size: 5vw;
  }

  #presentation .text-container {
    flex-direction: column;
  }

  #presentation .text-container #left-part {
    font-size: 2.3vw;
    width: calc(100% - 2 * var(--padding-side-value));
  }

  #presentation .text-container #right-part {
    width: 100vw;
    height: 100vw;
  }
}

@media screen and (max-width: 900px) {
  #presentation .text-container #left-part #trad-button-zone div {
    border: var(--second-color) 3px solid;
  }
}
