
*, ::before, ::after {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  --nav-margin: 2vh;
  --nav-height: 7vh;
  --nav-primary-color: #464953;
  --primary-color: #F96E46;
  --second-color: #95B2B8;
}

main {
  width: 100%;
  height: 500vh;
}

section:not(#presentation):not(#formation) {
  height: 100vh;
}

section span {
  font-family: "Molitor", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
