
*, ::before, ::after {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  --nav-margin: 2vh;
  --nav-height: 7vh;
  --nav-primary-color: #464953;
  --nav-second-color: #F96E46;
}

main {
  width: 100%;
  height: 500vh;
}

section:not(#presentation) {
  height: 100vh;
}
