
*, ::before, ::after {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  --nav-margin: 2vh;
  --nav-height: 7vh;
  --nav-primary-color: #464953;
  --primary-color: #F96E46;
  --second-color: #95B2B8;
  background-color: #F6F6F6;
}

main {
  width: 100%;
}

section span {
  font-family: "Molitor", sans-serif;
}

.section-title {
  display: block;
  font-size: 3vw;
  color: var(--primary-color);
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.section-title:not(#presentation .section-title) {
  margin: 5vh 0;
}

#coord {
  width: 100%;
  height: 40vh;
  background-color: var(--second-color);
}

